
/* Dine Out CSS*/

#placesList {
    list-style: none;
    padding: 0;
   }

#placesList li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: silver; /* Subtle background color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

#placesList li:hover {
    background-color: #e0e0e0; /* Darker background on hover */
    text-decoration: underline; /* Underline on hover */
}

#placesList a {
    text-decoration: none;
    color: #333; 
}

#placesList a:hover {
    color: #007bff; 
}


.search-link {
    color: blue; 
    text-decoration: underline; 
    cursor: pointer; 
}


#resultsContainer {
    text-align: center;
    padding-top: 20px;
}

#noResultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height to center vertically */
    text-align: center;
}

/* Centered container class */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
}

.centered-container p{
    margin: 0;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

/* Media query for smaller screens (e.g., phones) */

@media (max-width: 767px) {
    /* Override styles for smaller screens */
    #placesList {
        column-count: 1 !important; /* Display results in a single column */
        column-gap: 0; /* Remove gap between columns */
    }
    
    #placesList li {
        margin-bottom: 15px; /* Increase spacing between items for better touch interaction */
        padding: 15px; /* Increase padding for touch targets */
    }
    
    /* Adjust the styles for the modal */
    .modal-content {
        max-width: 90%; /* Reduce the width of the modal content on smaller screens */
    }
}