body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, orange, maroon, tan, darkgreen);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: orange;
    border: 2px solid black;
    padding: 10px 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: 20px;
}

.button {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: orange;
    border: 2px solid black;
}

.dine-in {
    order: 1;
}

.dine-out {
    order: 2;
}